@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
ul {
  list-style: none;
}
/*Barra de navegação*/

#headerNav {
  width: 100%;
  padding: 0.5% 0% 0.5% 0%;
  position: absolute;
  justify-content: space-between;
  top: 0;
  z-index: 2;
  padding: 10px 40px;
  background-color: #454d72;
}

#baixarTemplate{
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 35px;
  border:none;
  background: rgb(100,94,190);
  background: linear-gradient(90deg, rgba(100,94,190,1) 40%, rgb(29, 151, 175) 100%);
}

.btn-menu {
  width: 56px;
  height: 56px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  float: right;
  text-align: center;
  line-height: 56px;
}
.btn-close {
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.btn-close:hover {
  color: #fff;
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #454d72;
  display: none;
}
.menu ul {
 
  text-align: center;
  width: 100%;
  float: left;
}
.menu li {
  padding: 3%;
}
.menu li a {
  margin: -10px;
  color: #fff;
  font-size: 1.5em;
  padding: 1.5% 3%;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}
.logo {
  width: 200px;
  height: 50px;
  float: left;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  line-height: 56px;
}

/*Header da página*/
header {
  margin-top: 75px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: #454d72;
}
header section article h1 {
  width: 70%;
  padding-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
header p {
  width: 75%;
  padding-top: 20px;
  color: #fff;
  font-weight: 300;
}
header section {
  width: 50%;
}
header #ilustracaoUm{
    text-align: right;
}
header section img {
  width: 400px;
}

/*Primeira seção*/
#cards {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#cards div {
  display: flex;
  height: auto;
  padding: 0px 80px 25px 80px;
  flex-wrap: wrap;
}
#cards article {
  text-align: center;
  height: auto;
  background-color: #f8f8f8;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
}
#cards article:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 0px rgba(24, 24, 24, 0.158);
}
#cards article h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  color: #454d72;
}
#cards article p {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
#cards article img{
  width: 75px;
}

/*Segunda seção*/
#sobre {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: #f8f8f8;
}
#sobre #sobreNos {
  width: 50%;
}
#sobre article img {
  width: 400px;
}
#sobre #imgSobre {
  width: 50%;
}
#sobre #sobreNos {
  background-color: #454d72;
  color: #fff;
  border-radius: 20px;
  padding: 50px 50px 0px 50px;
}
#sobre #sobreNos #headSobre p {
  padding: 20px 0px;
  font-weight: 200;
}
#sobre #sobreNos #headSobre h2 {
  font-size: 30px;
  font-weight: 600;
}
#sobre #sobreNos #headSobre h3 {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}
#sobre #sobreNos #infoSobre article h4 {
  font-size: 18px;
}

#sobreNos #infoSobre article {
  float: left;
  width: 50%;
  height: 150px;
  margin-bottom: 5px;
  padding-bottom: 30px;
}
#sobreNos #infoSobre article:nth-child(1),
#sobreNos #infoSobre article:nth-child(3) {
  padding-right: 10px;
}
#sobreNos #infoSobre article:nth-child(2),
#sobreNos #infoSobre article:nth-child(4) {
  padding-left: 10px;
}
#sobreNos #infoSobre article p {
  color: #fff;
  font-size: 14px;
}
#sobreNos #infoSobre {
  margin-top: 20px;
}


/*Terceira seção*/
#portfolio {
  margin-top: 50px;
  padding: 25px 80px;
  text-align: center;
}
#portfolio h2 {
  font-size: 30px;
  font-weight: 600;
}
#portfolio p {
  color: #4d4d4d;
  font-weight: 300;
}
#portfolio div {
  display: flex;
  height: auto;
  padding: 30px 0px;
  flex-wrap: wrap;
}
#portfolio article {
  position: relative;
  height: 300px;
  border-radius: 15px;
  margin: 20px;
  flex-basis: 500px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  background: url(../image/resultado.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  cursor: pointer;
  color: #fff;
}
#portfolio article:hover {
  filter: brightness(60%);
}

/*Email*/
#email{
  background-color: #454d72;
  width: 100%;
  height: 200px;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
#email h3{
  font-size: 26px;
  text-transform: uppercase;
}
#email div input{
  width: 70%;
  border: 0;
  height: 50px;
  border-radius: 0px;
  padding-left: 15px;
  font-size: 16px;
}
#email div button{
  width: 30%;
  border: 0;
  height: 50px;
  color: #fff;
  background-color: #ff4129;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
#email div button:hover{
  background-color: #db341e;
}
#email div{
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Quarta seção*/
#servicos {
  padding: 50px 100px 100px 100px;
  text-align: center;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#servicos h2 {
  
  font-size: 28px;
  font-weight: 600;
}
#servicos #descricaoServicos{
  margin: 0 auto;
  width: 500px;
  color: #4d4d4d;
  font-weight: 300;
  padding-bottom: 75px;
}
#servicos section .flexBoxs {
  text-align: left;
  height: auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0px;
  width: 300px;
  text-align: center;
  max-width: 350px;
  min-width: 300px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
}
#servicos section .flexBoxs:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 0px rgba(24, 24, 24, 0.158);
}
#servicos section .flexBoxs img {
  margin-top: 5px;
  float: left;
  width: 20%;
}
#servicos section .flexBoxs div {
  float: left;
  width: 100%;
}
#servicos section .flexBoxs h3 {
  font-size: 18px;
  font-weight: 600;
}
#servicos section .flexBoxs p {
  font-size: 14px;
  font-weight: 300;
}
#servicos section .separarBoxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#servicos section .boxsFrente {
  margin-left: 30px;
  margin-right: 30px;
}

/*Estilo da animação*/
#servicos .teste {
  width: 200px;
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
@keyframes MoveUpDown {
  0%,
  100% {
    top: 29%;
  }
  50% {
    top: 32%;
  }
}

/*Scroll*/
.scrollTop {
  position: fixed;
  right: 40px;
  bottom: 20px;
  background-color: #dd3721;
  padding: 15px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  border-radius: 10%;
  z-index: 999;
}
.scrollTop i {
  font-size: 22px;
  color: #fff;
}

/*Estilo soltos*/
.btn-cor {
  background-color: #ff4129;
  color: #fff;
}
.btn-cor:hover {
  background-color: #e63c26;
  color: #fff;
}

footer{
  background-color: #454d72;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: #fff;
  padding: 0px 100px;
}
footer div .fa{
  font-size: 24px;
  padding-left: 25px;
  cursor: pointer;
}


/*responsividade*/
@media screen and (min-width: 1200px) {
  #headerNav img {
    width: 100px;
    cursor: pointer;
  }
  #contatoMenu {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .btn-close {
    display: none;
  }
  #headerNav {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    box-shadow: 0px 1px 5px #2d355b;
  }
  .menu {
    width: auto;
    height: 56px;
    line-height: 56px;
    background-color: transparent;
    display: block !important;
    position: static;
    color: #000;
  }
  .menu li {
    padding: 0;
    float: left;
  }
  .menu li a {
    color: #fff;
    font-size: 1.1em;
    padding: 15px 30px;
    font-weight: 400;
    text-decoration: none;
  }
}

/*Responsividade de Tablet*/
@media screen and (max-width: 1200px) {
  #home section:nth-child(2) {
    display: none;
  }
  #home section:nth-child(1) {
    width: 100%;
  }
  header {
    padding: 30px 40px;
  }
  #cards article {
    flex-basis: 300px;
  }
  #portfolio article {
    flex-basis: 300px;
  }
  #sobre #imgSobre {
    display: none;
  }
  #sobre #sobreNos {
    width: 100%;
  }
  #servicos .teste {
    display: none;
  }
  nav #ulNav,
  nav img {
    display: none;
  }

  #buttonContato {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #servicos section article {
    flex-basis: 290px;
  }
}

@media screen and (max-width: 760px) {
  #servicos section article {
    flex-basis: 48%;
  }
  #servicos section .boxsFrente {
    margin-left: 0px;
    margin-right: 0px;
  }
  #sobreNos #infoSobre article {
    display: block;
    float: none;
    width: 100%;
  }
  #sobreNos #infoSobre article:nth-child(1),
  #sobreNos #infoSobre article:nth-child(3) {
    padding-right: 0px;
  }
  #sobreNos #infoSobre article:nth-child(2),
  #sobreNos #infoSobre article:nth-child(4) {
    padding-left: 0px;
  }
}
@media screen and (max-width: 650px) {
  #servicos section article {
    width: 100%;
    float: both;
  }
  #servicos section .flexBoxs img {
    display: none;
  }
}
